@charset "UTF-8";

/**************************/


/*Common code CF and reset*/


/**************************/

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

img {
    vertical-align: bottom;
}

body {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    color: 000;
    line-height: 1em;
}

#wrapper {
    clear: both;
    width: 836px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
}


/*Chalkdusterの読み込み(webフォント)*/

@font-face {
    font-family: 'Chalkduster';
    src: url('Chalkduster.ttf.woff') format('woff'), url('Chalkduster.ttf.svg#Chalkduster') format('svg'), url('Chalkduster.ttf.eot'), url('Chalkduster.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katyo';
    src: url(../font/katyo.ttf) format('truetype'), url(../font/katyo.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


/**************************/


/*Logo: 		          */


/**************************/

#logo {
    margin-top: 72px;
}

#logo a {
    font-size: 38px;
    font-family: 'Chalkduster';
    color: #95989A;
    letter-spacing: -4.5px;
    text-decoration: none;
}

#logo a:hover {
    color: #ffba00;
}


/**************************/


/*Global navigation       */


/**************************/

#menu {
    width: 100%;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 38px;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    text-decoration: none;
    margin-right: 25px;
    color: #95989A;
    font-family: "Chalkduster"
}

#menu li a:hover {
    color: #FFBA00;
}

#menu .activepage a {
    color: #ffba00;
}


/**************************/


/* top image: 			  */


/**************************/

#topimg {
    margin-top: 27px;
}

#topimg img {
    width: 100%;
    margin-top: 20px;
}


/**************************/


/* footer   			  */


/**************************/

footer {
    clear: both;
    text-align: right;
    color: #95989a;
}


/**************************/


/*		about.html 	      */


/**************************/

#businessCard {
    color: #95989a;
}


/**************************/


/*		contact.html 	  */


/**************************/

.contact-form p {
    margin: 32px 0 0 0;
    color: #95989A;
    font-family: 'Chalkduster';
}

.contact-form input[type="text"],
.contact-form textarea {
    margin: 0;
    padding: 15px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-bottom: 10px;
}

.contact-name,
.contact-email {
    width: 50%;
}

.contact-form textarea {
    width: 85%;
    height: 150px;
}

.contact-form {
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.btn-contact {
    font-family: 'Chalkduster';
    font-size: 20px;
    color: #95989a;
    background: #FFF;
    border: 1px solid #95989A;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

.btn-contact:hover {
    color: #ffba00;
}

#confirm_form {
    margin: 270px auto;
    text-align: center;
    font-family: 'katyo';
    color: #95989A;
}

.confirm_space {
    margin-left: 10px;
}